@model IEnumerable<CrudApp.Models.LearningPathModel>

@{
    ViewData["Title"] = "Learning Path";
}

<h1>Learning Path</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MIPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LPName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MIPID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LPName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LPID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.LPID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
