@model List<CrudApp.Models.Employee>

@{
    ViewData["Title"] = "Engineer Details";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}

<h3>@ViewData["Title"]?.ToString()</h3>
<hr />

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <b>Success: </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error:</b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form>
    <button asp-action="Create" asp-controller="Employee" class="btn btn-primary mb-3">Create Employee</button>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr class="table-active">
                <th class="px-4 py-2">Id</th>
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var employee in Model)
                {
                    <tr>
                        <td class="px-4 py-2">@employee.Id</td>
                        <td class="px-4 py-2">@employee.FullName</td>
                        <td class="px-4 py-2">
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No engineer available at this moment
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
